Package: pramanpatram
Version: 1.0
Architecture: all
Maintainer: Aryan Karamtoth (SpaciousCoder78) <aryankmmiv@outlook.com>
Depends: python3, python3-pillow, python3-pandas
Description: A Python Package to Generate Event Certificates.
.